/* BASE AND ROOT STYLES */

:root {
    --background-color: rgb(69,68,68);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--background-color);
    color:seashell;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-align: center;
    text-transform: lowercase;
}

.full-width {
    margin: 0 auto;
    width: 1200px;
}

.half-width {
    width: 600px;
}

.third-width {
    width: 400px;
}

/* HEADER AND NAV STYLES */

#navbar {
    background-color: #e34d4d;
    height: 100px;
    left: 40px;
    position: fixed;
    top: 0;
}

nav ul {
    float: right;
    height: 100%;
    list-style-type: none;
    margin-top: 20px;
}

nav ul li {
    float: right;
    padding: 20px 40px 0px 30px;
}

nav ul li a {
    color: seashell;
    font-style: italic;
    font-weight: 700;
    text-decoration: none;
}

/* WELCOME SECTION STYLES */

#welcome-section {
    margin-top: 250px;
}

#welcome-content-wrapper {
    margin: 100px 0;
    text-align: center;
}

#welcome-content-wrapper p {
    color: #e34d4d;
    font-size: 1.2em;
    font-style: italic;
}

/* WORK SECTION STYLES */

#work-header {
    margin-bottom: 20px;
}

hr {
    margin-bottom: 20px;
}

#projects {
    display: flex;
    flex-flow: row wrap;
}

.project-tile {
    height: 400px;
}

/* CONTACT SECTION STYLES */

/* MEDIA QUERIES */

@media  (min-width: 768px) {
 }